{:aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.10.1241"}
                org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
         :main-opts ["-m" "antq.core"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.7"}}
          :extra-paths ["build"]}
  :clj-test-runner {:exec-fn cognitect.test-runner.api/test
                    :extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
  :cljs-deps {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.21"}}
              :extra-paths ["src/cljc" "test/unit/cljc" "test/demo/cljc"]}
  :codox {:exec-args
          {:description
           "`auto-sim` is about all core technical functionalities we may need to start a project."
           :doc-paths ["docs/codox"]
           :metadata {:doc/format :markdown}
           :name "auto-sim"
           :source-uri "https://github.com/hephaistox/auto-sim/blob/{version}/{filepath}#L{line}"}
          :exec-fn codox.main/generate-docs
          :extra-deps {codox/codox {:mvn/version "0.10.8"}}}
  :repl {:exec-args {:port 7001}
         :exec-fn auto-build.repl.entry-point/start
         :extra-deps {io.github.hephaistox/auto-build {:git/sha
                                                       "dd5f949add930adba45fc440bf18412a4069683c"}}
         :extra-paths ["test/unit/cljc" "test/demo/cljc"]
         :jvm-opts ["-Djdk.attach.allowAttachSelf=true"]}
  :test-clj {:extra-paths ["test/unit/cljc"]
             :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/unit/cljc"]}
  :test-demo {:extra-paths ["test/demo/cljc"]
              :main-opts ["-m" "cognitect.test-runner" "-r" ".*" "-d" "test/demo/cljc"]}}
 :deps {com.github.hephaistox/auto-opti {:git/sha "75f6fcff91d2406734fa60da49884d7f8cbe62f9"}}
 :paths ["src/cljc" "src/clj"]}
