{:aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.10.1241"}}
         :main-opts ["-m" "antq.core"]}
  :build {:deps {io.github.clojure/tools.build {:git/sha "52cf7d6"
                                                :git/tag "v0.10.6"}}
          :extra-paths ["build"]}
  :clj-test-runner {:exec-fn cognitect.test-runner.api/test
                    :extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
  :cljs-deps {:extra-deps {binaryage/devtools {:mvn/version "1.0.6"}
                           com.github.hephaistox/auto_web {:local/root "../auto_web"}
                           devcards/devcards {:mvn/version "0.2.7"}
                           re-com/re-com {:mvn/version "2.24.2"}
                           re-frame/re-frame {:mvn/version "1.4.3"}
                           re-frisk/re-frisk {:mvn/version "1.6.0"}
                           thheller/shadow-cljs {:mvn/version "2.28.23"}}
              :extra-paths ["src/cljc"
                            "src/cljs"
                            "test/unit/cljc"
                            "../auto_web/src/cljs"
                            "../auto_web/src/cljs"
                            "test/demo/cljc"
                            "env/devcards/src/cljs"]}
  :codox {:exec-args
          {:description "`auto-sim` provide simulation features (activity and event based)"
           :doc-paths ["docs/codox"]
           :metadata {:doc/format :markdown}
           :name "auto-sim"
           :source-uri "https://github.com/hephaistox/auto-sim/blob/{version}/{filepath}#L{line}"}
          :exec-fn codox.main/generate-docs
          :extra-deps {codox/codox {:mvn/version "0.10.8"}}}
  :repl {:exec-args {:port 7007}
         :exec-fn auto-build.repl.entry-point/start
         :extra-paths ["test/unit/cljc" "test/demo/cljc"]
         :jvm-opts ["-Djdk.attach.allowAttachSelf=true"]}
  :test-clj {:extra-paths ["test/unit/cljc"]
             :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/unit/cljc"]}
  :test-demo {:extra-paths ["test/demo/cljc"]
              :main-opts ["-m" "cognitect.test-runner" "-r" ".*" "-d" "test/demo/cljc"]}}
 :deps {com.github.hephaistox/auto-opti {:git/sha "746ea7fd220610cb1f97d4fa2051a964094f94da"}}
 :paths ["src/cljc" "src/clj" "resources"]}
